body {background-color:#18191D;color:white;}
img.slides {width:100%;}
div.bb {position:fixed;bottom:16px;}
div.bnext {left:50%;}
div.bprev {right:50%;}
a.tglink {color:#1E90FF;}
strong.sub {font-size:135%;}
#nvaf {display:none;}
